.index-widget {
  float: right;
  width: 350px;
  background: #f4f4f4;
  z-index: 600;
  position: relative;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 45px;
  margin-left: 45px;
  box-shadow: 0 0 40px #c6c2c2;
}


.index-widget__title {
  margin-top: 0;
}
