.related-links {
  background: #F4F4F4;
  padding: 1px 3rem 15px;
  margin-bottom: 25px;
}

.related-links__list {
  padding: 0;
  margin: 0;

  li {
    list-style: none;

    a {
      font-family: Source Sans Pro,Helvetica,sans-serif;
      font-size: 1.5rem;
      padding: 0 1rem 0rem .5rem;
      border: none;
      color: #212121;
      display: block;
      text-decoration: none;
    }

    a:hover {
      font-weight: bold;
    }

    a:before {
      content: "•";
      font-size: 14px;
      line-height: 19px;
      margin-right: 5px;
      vertical-align: top;
    }

  }

}
