/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
$poppins: 'Poppins', sans-serif;
$source-sans-pro: 'Source Sans Pro', Helvetica, sans-serif;
$sans-serif: $source-sans-pro;

/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
  margin-top: 1.0em;
}

h1 {
  margin-top: 20px;
}

/* General use */

.all-caps {
  text-transform: uppercase;
}

/* END General use */

button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

.region-breadcrumb {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  #block-goddard-uswds-sub-breadcrumbs {
    .usa-breadcrumbs li:not(:last-child):after {
      content: ' / ';
      color: #ddd;
    }
    .usa-breadcrumbs {
      .usa-nav-secondary-links {
        a {

        }
      }
    }
  }
  #block-views-block-related-tags-block-1 {
    margin-top: 10px;
    display: inline-flex;
    font-weight: 200;
    font-size: 1.3rem;
    a {
      text-decoration: none;
    }
    h2 {
      font-weight: 500;
      font-size: 1.3rem;
      margin: 0;
      padding: 0 5px 0 0;
      letter-spacing: .05rem;
      &:after {
        content: ": ";
      }
    }
  }
}

/* Article */

.page-node-type-article {
  .region-content {
    h1.page-title {
      font-size: 6rem;
      margin-top: 0;
    }
    h2 {
      font-weight: 300;
      color: #666;
      font-size: 2.7rem;
      padding: 3rem 0;
      margin: 0;
    }
    p {
      font-weight: 300;
      font-size: 1.9rem;
      line-height: 3rem;
    }
    p:first-child {
      margin-top: 0;
    }

    .field--name-field-tags {
      margin-top: -30px;
      margin-bottom: 30px;
      margin-left: 5px;

      &:before {
        content: "Tags:";
        display: inline-block;
        font-weight: 500;
        font-size: 1.3rem;
        padding: 0 5px 0 0;
      }

      ul {
        display: inline-block;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        list-style: none;
      }

      a {
        color: #0071bc;
        text-decoration: none;
        font-weight: 200;
        font-size: 1.3rem;
        cursor: pointer;
      }

      li:not(:last-child):after {
        content: ",";
        font-weight: 200;
        font-size: 1.3rem;
      }

    }
  }
}

.page-node-type-article.user-logged-in .region-content .field--name-field-tags {
  margin-top: 0;
}

// Term Page
.feed-icon {
  display: inline-block;
  background-image: url('/themes/custom/goddard_uswds_sub/images/rss.gif');
  background-repeat: none;
  background-position: -1px -1px;
  width: 26px;
  height: 26px;
  text-indent: -100vw;
  border-radius: 6px;
  @include respond-to(large) {
    float: right;
    margin-top: -56px;
  }

  .user-logged-in & {
    @include respond-to(large) {
      margin-top: -110px;
    }
  }

}


// Images and stuff

.align-left {
  margin: 1em 40px 1em 0;
}

.align-right {
  margin: 1em 0 1em 40px;
}

figure {
  &.align-left {
    margin-left: 0;
  }
  &.align-right {
    margin-right: 0;
  }
}
